#root {
  margin: 10px;
}


/* width */
*::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: grey;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: white;
} */


/* LIST CATEGORY */
.list-category {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0;
  padding-top: 1%;
}

.list-category button {
  padding: 18px;
  border: 0;
  cursor: pointer;
  background: none;
  width: 100%;
  font-size: 16px;
}

.list-category button:hover {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 10%;
}



/* SEARCH */
.search {
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

/* div input search */
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
  width: 80%;
  text-align: center;
}

.search input {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 100%;
  color: white;
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}





/* LIST TOOLS */
.list-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.box {
  position: relative;
  /* background: rgb(100, 0, 0); */
  width: 17%;
  margin: 10px;
  height: 150px;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.box a {
  width: 100%;
  text-decoration: none;
  color: black;
}

.box .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.box:hover .overlay {
  opacity: 1;
}

.overlay p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: black;
  font-size: 17px;
  font-weight: 700;
}

.overlay p:first-child {
  font-size: 19px;
}