#root {
  margin: 10px;
}


.list-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.box {
  position: relative;
  /* background: rgb(100, 0, 0); */
  width: 17%;
  margin: 10px;
  height: 150px;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
}

.box a {
  width: 100%;
  text-decoration: none;
  color: white;
}

.box .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4d5a5e;
}

.box:hover .overlay {
  opacity: 1;
}

.overlay p{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

